.root {
  --white: #fff;
  --light-grey: #eeedde;
  --white-rgba: rgb(255, 255, 255);
  --text-rgba: rgba(41, 33, 33, 0.6);
  --dark-grey: #202020;
  --bg-colour: var(--white);
  --text-body: var(--dark-grey);
  --carousel-colour: var(--light-grey);
}
