.carousel {
  width: 25vw;
  height: 70vh;
  color: var(--text-body);
  font-size: var(--fontsm);
}

.custom-swiper-slide {
  width: 100% !important;
  height: 100% !important;
  background-color: var(--carousel-colour);
  border-radius: 20px;
}

.carousel > div[class*='swiper-button'] {
  width: 4rem;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--text-body);
}

.carousel > div[class*='swiper-button-next'] {
  background-image: url(/public/icon/Arrow.svg);
}

.carousel > div[class*='swiper-button-prev'] {
  background-image: url(/public/icon/Arrow.svg);
  transform: rotate(-180deg);
}

.carousel > div[class*='swiper-button-next']::after,
.carousel > div[class*='swiper-button-prev']::after {
  display: none;
}
